#root, .App {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 40px;
}


.page-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
    border-radius: 12px;
}

.page-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
}

.page-container p {
    margin-top: 24px;
    margin-bottom: 20px;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #409516;
    color: #ffffff;
    font-size: medium;
    border-radius: 12px;
    height: 48px;
    width: fit-content;
    padding: 0 16px;
    margin: 0 auto 10px auto;
    margin-top: 48px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.start-button:hover {
    background-color: #357d12;
}

.example-container {
    margin-top: 20px;
}

.dyslexia-image {
    width: 500px;
    height: 300px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.next-button, .back-button {
    background-color: #0f610a;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.next-button:hover, .back-button:hover {
    background-color: #10780e;
}

.quiz-container {
    margin-top: 30px;
    text-align: center;
}

.quiz-input {
    padding: 8px 12px;
    font-size: 1rem;
    border: 2px solid #409516;
    border-radius: 8px;
    margin-bottom: 10px;
}

.feedback {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
}

.quiz-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9a8a0a;
    color: #ffffff;
    border-radius: 12px;
    padding: 12px 16px;
    width: fit-content;
    margin: 20px auto;
    margin-top: 48px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.quiz-button:hover {
    background-color: #b3af17;
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 16px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.back-button:hover {
    background-color: #005fcc;
}

.intro-image {
    display: block;
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 25px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}







